body{
    background-color: #1c8521;
}

.outline{
    border: 2px solid #d4af37;
    box-shadow: 0px 0px 15px #d4af37;
    height: 500px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
}

.grid-div{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px; 
    padding-bottom: 30px;
    
}



h1 {
    margin-top: 50px;
    text-align: center;
    font-family: 'Alfa Slab One', serif;
    color: #d4af37;
    font-size: 50px;
    letter-spacing: 2px;

}


.number-field{
    background-color: #cfcbcb;
    margin: 10px;
    padding: 10px 20px 30px 20px;
    font-size: 30px;
    width: 50px;
    height: 100px;
    font-family: 'Alfa Slab One', serif;
    color: #d4af37;
    border: 2px solid rgb(254, 140, 218);
    text-shadow: #FC0 0px 0 5px;
    border-radius: 5px;
    font-size: 40px;
}





.number-wrapper{
    text-align: center;
}

#all-done{
    margin-top: 30px;
    text-align: center;
}

button{
    background-color: rgb(255, 47, 189);
    color: white;
    border: 1px solid rgb(201, 6, 255);
    border-radius: 5px;
    height: 25px;
    cursor: pointer;
    font-family: sans-serif;
    box-shadow: 0px 0px 3px #e100ff;
}

.number-button{
    width: 80px;

}

#done{
    width: 180px;

}

#confirm {
    margin-bottom: 10px;
}


#text{
    font-family: sans-serif;
    font-size: 15px;
    margin: auto;
    margin-top: 15px;
    width: 700px;
    text-align: center;
    color: white;
}

#final-number{
    font-family: 'Alfa Slab One', serif;
    color: #d4af37;
    text-shadow: rgb(0, 0, 0) 0px 0 1px;
}

#confirmbtn{
    width: 100px;
}