body{

    font-family: "Outfit", sans-serif;
    font-weight: 300;
    margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
    
    
}
.homebody{
  background-color: #111111;
  
}
h1{
    font-size: 5rem;
    text-align: center;
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 10px;

}
.name{

  margin-top: 0px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 28px;
}
.navbar{
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.navbarlinks{
  text-align: right;
}
a:link { 
    text-decoration: none; 
    color: gray;
    padding-left:20px;
  } 
  a:visited { 
    text-decoration: none; 
    color: gray;
    padding-left:20px;
  } 
  a:hover { 
    text-decoration: none; 
    color: lightblue;
    padding-left:20px;
  } 
  a:active { 
    text-decoration: none; 
    color: gray;
    padding-left:20px;
  }
  .grid {
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 20px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
  }
  .feature{
    width: 90%;
    display: block;
    margin-left: -30px;
    position: relative;
    z-index: -1;
  }
  .aboutme{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    
  }
 .email{
  text-align: center;
 }
 h2{
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
 }
 .hello-card{
  background-color: white;
  color: black;
  margin-right: -10px;
  margin-left: auto;
  padding-left: 40px;
  padding-right: 40px;
  height: 85%;
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
 }
 .linkedin-icon{
  margin-top: 10px;
  text-align: center;
 }
svg{
  fill: black;
}

svg:hover{
  fill: #0288D1;
}
 /*RESUME STYLING*/
 .resume{
  text-align: center;
  margin-top: 25px;
 }

 /*INTEREST STYLING*/
 .project-grid{
  width: 90%;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
 }
 .linkgrid{
  width: 90%;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
 }
 .project-img{
  width:100%;
  height: 50%;
 }
 h3{
  text-align: center;
  font-size: 23px;
 }
 .buttondiv{
  margin-left:auto;
  margin-right: auto;
  width: 29%;
  text-align: center;
  
 }
 .button{
  display:inline-block;
  padding: 3px;
  border: 2px solid black;
  color: black;
  position: relative;
    bottom: 0;
 }
 
 